#form-beneficiario input,select {
    height: 1.3rem;
    background-color: rgba(230, 230, 230, 0.8);
    width: 100%;
}
#form-beneficiario input[type="text"], select {
    height: 1.3rem;
    background-color: rgba(241, 234, 234, 0.8);
    width: 100%;
    border-bottom: 1px solid lightgreen;
}
#form-beneficiario input[type="number"] {
    width: 35%;
}
#form-beneficiario input, select {
    font-size: 0.9rem;
    color: darkslategray;
}

#form-beneficiario select{
    padding: 0;
    margin: 0;  
}

#form-beneficiario button{
    padding: 0.5rem;
    width: 100%;
    outline: none;
    color: white;
}
caption i {
    color: rgb(0, 255, 136);
}
caption i:hover {
    color: rgb(97, 216, 210);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#form-planilla select{
    padding: 0;
    margin: 0;  
}

#form-planilla input[type="text"],input[type="date"], input[type="number"], input[type="tel"], input[type="email"], select {
    height: 1.3rem;
    background-color: rgba(241, 234, 234, 0.8);
    width: 100%;
    border-bottom: 1px solid lightgreen;
}

#form-planilla input[type="date"],input[type="number"] {
    background-color: rgba(241, 234, 234, 0.8);
    width: 45%;
    border-bottom: 1px solid lightgreen;
}

#form-planilla input, select {
    font-size: 0.9rem;
    color: darkslategray;
}

#form-planilla label{
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.2rem;
}

#form-planilla h1 {
    font-size: 1rem;
    font-weight: 600;
}
#form-planilla button{
    color: white;
    border: none;
    outline: none;
    padding: 10 0px;
}
#form-planilla button:hover{
    background-color: rgb(99, 123, 230);
    transition: all 0.3s ease;
}

.btn-guardar-cliente{
    background-color: #3D4850;
    border-radius: 5px 0 0 5px;
    width: 50%;
}

.btn-cancelar-cliente{
    background-color: #00CC99;
    border-radius: 0px 5px 5px 0px;
    width: 50%
}

.btn-enviar-planilla{
    background-color: #3D4850;
    border-radius: 5px 0 0 5px;
    width: 33.33%;
}
.btn-enviaracliente-planilla{
    background-color: #004e53;
    width: 33.33%;
}

.btn-cancelar-planilla{
    background-color: #00CC99;
    border-radius: 0px 5px 5px 0px;
    width: 33.33%;
}

.btn-aceptar-beneficiario{
    background-color: rgb(110, 187, 218);
    border-radius: 5px 0 0 5px;
    border: 0;

}
.btn-cancelar-beneficiario{
    background-color: rgb(165, 165, 165);
    border-radius: 0 5px 5px 0;
    border: 0;
}
.btn-aceptar-beneficiario:hover{
    transition: all 0.3s ease;
    background-color: rgb(9, 116, 143);

}
.btn-cancelar-beneficiario:hover{
    transition: all 0.3s ease;
    background-color: rgb(119, 119, 119);
}


.imgcontainer-modal {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container-modal {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 5% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    padding: 0.5rem;
    border-radius: 5px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
}

.close i:hover,
.close i:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 767px) {
    .contenedor80{
        width: 100%;
    }
    .contenedor90{
        width: 100%;
    }
    .modal-content {
        width: 100%;
    }
    #form-beneficiario input[type="number"] {
        width: 60%;
    } 
    #form-planilla input[type="date"] {

        width: 100%;

    }       
}