tbody {
    display: block;
    height: 10rem;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em);
    background-color: rgb(252, 252, 252);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(217, 225, 228);
}

th,
td {
    padding: 0.25rem;
    text-align: left;
}

td {
    border: none;
    color: rgb(82, 102, 139);
    font-size: 0.9rem;
    font-weight: 300;
}

td > * {
    vertical-align: middle;

}

tr:hover td {
    color: #1BA9FF;
}

thead tr th {
    color: rgb(82, 102, 139);
    font-weight: 600;
    font-size: 0.9rem;
    background-color: white;
    padding: 0.6rem;
}

caption {
    text-align: left;
    padding: 0.6rem 0.6rem;
    font-weight: 600;
    color: rgb(165, 181, 197);
}

tbody tr:nth-child(odd) {
    background: rgb(240, 239, 243);
}

tbody tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

tbody tr:hover {
    border: 1px solid rgb(180, 223, 243);

}

.i-add{
    color: rgb(38, 219, 129);
}

.i-add:hover{
    transition: all 0.3s ease-in;
    color: rgb(98, 160, 253);
    cursor: pointer;
}

.i-delete{
    color: tomato;
}

.i-delete:hover{
    transition: all 0.3s ease-in;
    color: rgb(214, 24, 24);
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(187, 193, 199);
    border-radius: 10px;
    border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a6b8;
    border: 1px solid white;
}

.border-table {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background: rgb(210, 215, 217);
    background: linear-gradient(355deg, rgba(210, 215, 217, 1) 0%, rgba(255, 255, 255, 1) 38%, rgba(254, 254, 254, 1) 100%);
    box-shadow: 0 8px 6px -6px rgb(102, 162, 252);
}

.container-table {
    display: flex;
    padding: 2rem;
    background: rgb(82, 120, 130);
    background: linear-gradient(355deg, rgba(82, 120, 130, 1) 0%, rgba(245, 245, 245, 1) 58%, rgba(245, 245, 245, 1) 100%);
}

.text-align-center{
    text-align: center;
}

.p-lr{
    padding: 0 5px;
}

@media all and (max-width:767px) {
    .row-img {
        display: none;
    }

    thead tr th {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .container-table {
        padding: 0.1rem;
    }


	table, thead, tbody, th, td, tr, caption { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgb(221, 219, 219); }
	
	td { 
		border: none;
		border-bottom: 1px solid rgb(228, 225, 225); 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Nombre"; }
	td:nth-of-type(2):before { content: "Parentesco"; }
	td:nth-of-type(3):before { content: "Edad"; }
    td:nth-of-type(4):before { content: "Domicilio"; }
	td:nth-of-type(5):before { content: "Documento"; }
	td:nth-of-type(6):before { content: "%"; }
    td:nth-of-type(7):before { content: "Tutor"; }    

}