<hr class="separador">
<footer class="contenedor col-12 col-xs-12 pie-pagina">
    <div class="contenedor90">
        <div class="col-3 col-xs-12 spaced-text">

            <div class="fila col-11 col-xs-12"><img src="../static/images/logo.png" width="70%">

            </div>

            <div class="fila col-11 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sunt
                ducimus nam
                eius
                ad
                repellendus consequatur ipsam ab iste! Illo omnis optio veritatis fugit. Nobis vitae veritatis autem
                praesentium ratione.</div>

        </div>
        <div class="col-3 col-xs-12 spaced-text titulo-footer">
            <div class="fila col-11 col-xs-12">
                <h3 class="">CONTACTENOS</h3>
                <hr class="hr-underline">
            </div>
            <div class="fila col-11 col-xs-12 pt-15">A108 Calle Adam
                Buenos Aires, AR 535022
                Argentina
                Telefono: +1 5589 55488 55
                Email: info@example.com
                <div class="col-12 col-xs-12 pt-15">
                    <div class="col-3"><i class="fa fa-twitter fa-2x rrss" aria-hidden="true"></i></div>
                    <div class="col-3"><i class="fa fa-facebook fa-2x rrss" aria-hidden="true"></i></div>
                    <div class="col-3"><i class="fa fa-whatsapp fa-2x rrss" aria-hidden="true"></i></div>
                    <div class="col-3"><i class="fa fa-instagram fa-2x rrss" aria-hidden="true"></i></div>
                </div>

            </div>
        </div>
        <div class="col-3 col-xs-12 spaced-text titulo-footer">
            <div class="fila col-11">
                <h3 class="">LINKS DE INTERES</h3>
                <hr class="hr-underline">
            </div>
            <div class="fila col-11 col-xs-12 pt-15">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                    <li>Link 4</li>
                </ul>
            </div>
        </div>
        <div class="col-3 col-xs-12 spaced-text titulo-footer">
            <div class="fila col-11 col-xs-12">
                <h3 class="">NUESTROS SERVICIOS</h3>
                <hr class="hr-underline">
            </div>

            <div class="fila col-11 col-xs-12 pt-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                voluptatibus,
                pariatur adipisci enim ipsam vero, dicta beatae, soluta rem veniam tenetur? Dolore iusto rem, recusandae
                quasi ducimus assumenda eligendi dolores.</div>
        </div>
    </div>
</footer>